.body {
  color: white !important;
  margin: 20 20 30 20;
  padding: 0;

  width: 100%;
  min-height: 100%;
  height: auto !important;
  position: fixed;

  background: url("./img/principa.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.6;
}

.modal {
  background: rgba(211, 255, 35, 0.5);
  position: absolute;
  max-width: 450px;
  top: 0;
  bottom: 0;
  margin-left: 90px;
  margin-top: 250px;
  border-radius: 30px 30px 30px 30px;
  -webkit-box-shadow: 3px 3px 6px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 6px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 6px -2px rgba(0, 0, 0, 0.75);
}

.avatar {
  background-color: #f05d19f5 !important;
  width: 100px;
  margin-top: 60px;
}

.title {
  font-size: 50px;
  font-style: oblique;
  color: "black";
  margin-top: 20px;
  margin-bottom: 20px;
}

.form {
  width: 140px;
  margin: 0px 20px 0px 0px;
}

.campoColor {
  background: #ebf5f6;
  border-radius: 5px;
  width: 240px;
  right: 40px;
}

.submit {
  margin: 25px, 0, 16px;
  background: #ff7301 !important ;
  /*background: #88b92c; */
  top: 20px;
  width: 240px;
  right: 40px;
}

.logo {
  width: 120px;
  position: relative;
  top: 60px;
  right: 38px;
  margin-left: 42%;
}

.Letter{
  text-align: center;
  color: black;
}
